/* General styling for the body and container */
.body {
    font-family: Arial, sans-serif;
}



/* Search input container styling */
.searchInput_Container {
    display: flex;
    align-items: center;
    gap: 10px; /* space between input and button */
    margin-bottom: 50px;
    width: 100%;
}

#searchInput {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    transition: border 0.3s;
}

#searchInput:focus {
    border: 1px solid #007BFF;
}

.btn-success {
    padding: 10px 20px;
    cursor: pointer;
}


.template {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    transition: box-shadow 0.3s;
    width: 200px;

}


.image-wrapper img {
    margin-top: 20px;
    width: 180px; /* example width, you can adjust this value */
    height: 120px; /* example height, you can adjust this value */
    object-fit: cover; /* this ensures images cover the dimensions without warping */
    border: 1px solid #747474;
}

.template h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
    text-align: center;
}

.template:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.scroll-container {
    display: flex;       /* Lay images out horizontally */
    overflow-x: auto;    /* Allow horizontal scrolling */
    width: 100%;         /* Take full width of the viewport */
    gap: 10px;           /* Space between images */
    
    /* Hide default scrollbars (but allow scrolling) */
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.1) transparent;

}

.scroll-container::-webkit-scrollbar {
    
    height: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
}