.app-main{
  display: flex;
}

.app-nav{
  width: 20%;
}
.app-content{
  width: 70%;
  padding: 20px;
  margin: 0 auto;
}
body {
  color: #000;
  background-color: #fff;
}

.nav-names {
  color: #000 !important;
}

.nav-logout {
  color: #f00;
}